// base
@import './base/typography';


// helpers
@import './helpers/variables';


// layouts
@import './layouts/footer';

// pages

#wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1440px;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	z-index: 3;
	transition: all .25s;

	.title {
		float: left;
		padding: 35px 0;
		width: 120px;
		color: #fff;
		font-size: 20px;
		font-weight: 500;
	}

	.nav {
		float: right;
		padding: 0;
		width: calc(100% - 120px);
		font-size: 0;
		text-align: right;

		.navList {
			display: inline-block;
			padding: 0 19px;

			a {
				display: block;
				padding: 38px 0;
				color: #fff;
				font-size: 16px;
			}

			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}

	&[data-header-theme="dark"] {
		.title {
			color: #555;
		}
		.nav {
			.navList {
				a {
					color: #555;
				}
			}
		}
	}

	&.fixed {
		height: 70px;
		color: #000;
		background: rgba(255, 255, 255, .9);
		box-shadow: 0 0 10px #eee;

		.title {
			padding: 20px 0;
			color: #555;
		}

		.nav {
			.navList {
				a {
					padding: 23px 0;
					color: #555;
				}
			}
		}
	}
}

#main {
	flex: 1 1 auto;
}

.sec {
	display: flex;
	align-items: center;
	height: 100vh;

	.title {
		padding-bottom: 40px;
		color: #000;
		font-size: 34px;
		font-weight: 700;
		letter-spacing: 10px;
		text-transform: uppercase;
	}
}

.sec-slider {

	.swiper-slide {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 85vh;
		color: #fff;

		&:first-child {
			background: #373B47;
		}

		&:nth-child(2) {
			background: url(../images/sec-slider02.jpg) no-repeat 50% 50%;
			background-size: cover;
		}
		&:nth-child(3) {
			background: url(../images/sec-slider03.png) no-repeat 50% 50%;
			background-size: cover;
		}

		&:last-child {
			background: url(../images/sec-slider04.png) no-repeat 50% 50%;
			background-size: contain;
		}

		.slideCont {
			margin: 0 auto;
			padding: 0 20px;
			max-width: 1440px;
			width: 100%;
			height: 100%;
			display: flex;

			&.sec01 {
				justify-content: space-between;

				& > * {
					display: flex;
					flex-direction: column;
				}

				.sec01-left {
					justify-content: center;

					.sec01-img {
						position: relative;

						&::before {
							content: '';
							display: block;
							position: absolute;
							top: 62px;
							left: 40px;
							min-width: 400px;
							min-height: 550px;
							border: 5px solid #8D9DAD;
						}
					}
					.sec01-text {
						position: absolute;
						left: 30%;
						bottom: 5%;
						font-size: 48px;
						font-weight: 700;
					}

				}

				.sec01-right {
					padding-bottom: 120px;
					justify-content: flex-end;
					text-align: right;

					.sec01-intro {
						font-size: 24px;
					}
				}
			}

			&.sec02 {
				justify-content: space-between;

				& > * {
					display: flex;
					flex-direction: column;
				}

				.sec02-left {
					justify-content: center;

					.sect-subtitle {
						font-size: 36px;
						font-weight: 300;
					}
					.sect-title01 {
						font-size: 96px;
						font-weight: 500;
					}
					.sect-title02 {
						font-size: 64px;
						font-weight: 400;
					}
				}

				.sec02-right {
					padding-bottom: 68px;
					justify-content: flex-end;
					text-align: right;

					.sent-intro {
						font-size: 18px;
						font-weight: 400;
					}
					.sent-text {
						font-size: 16px;
						font-weight: 500;
					}
				}
			}

			&.sec03 {
				flex-direction: column;
				justify-content: center;
				font-size: 56px;
				font-weight: 500;

				.pointText:nth-child(2) {
					padding-left: 10%;
				}

				.pointText:last-child {
					padding-left: 20%;
				}
			}
		}
	}
}

.sec-introduce {
	height: 90vh;
	background: #fff;

	.tabs {
		position: relative;

		.tabs-nav {
			position: absolute;
			top: -90px;
			right: 0;
			font-size: 0;

			li {
				display: inline-block;
				min-width: 120px;
				height: 50px;
				line-height: 50px;
				text-align: center;

				a {
					display: block;
					color: #8069b2;
					border-radius: 15px 0 15px 0;
					border: 1px solid #ddd;
					font-size: 16px;
					transition: all .25s;

					&.active, &:hover {
						color: #fff;
						background: #8069b2;
						border: 1px solid #fff;
					}
				}

				&:last-child {
					margin-left: 15px;
				}
			}
		}

		.tabs-content {
			min-width: 800px;
			min-height: 500px;
			background: #fff;
			border: 1px solid #ddd;

			.tab-common {
				display: none;
				padding: 44px;

				&.active {
					display: block;
				}

				&.tab01 {

					.myBox {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-around;

						.myPhoto {
							width: 120px;
							height: 120px;
							object-fit: cover;
							border-radius: 50%;
							overflow: hidden;
						}

						.mybox-item {

							.intro-item {
								padding-top: 10px;

								.intro-tit {
									color: #8069b2;
									font-size: 16px;
									font-weight: 500;
								}

								.intro-cont {
									color: #555;
									font-size: 14px;
									font-weight: 400;
								}
							}
						}
					}

					.mybox-desc {
						padding-top: 10px;
						color: #63489a;
						font-size: 12px;
					}

					.mybox-icon {
						padding-top: 50px;
						display: flex;
						justify-content: center;

						.intro-icon {
							display: flex;
							flex-direction: column;
							align-items: center;
							padding: 10px 0;
							width: 25%;

							&:hover {
								box-shadow: 1px 1px 3px #ddd;
								border-radius: 15px;
							}

							img {
								display: block;
								width: 60px;
								height: 60px;
							}

							span {
								display: block;
								margin-top: 10px;
								color: #555;
								font-size: 15px;
								font-weight: 500;
							}
						}
					}
				}
			}
		}
	}
}

.sec-project {

	.smallSlide {
		width: 90vw;

		.swiper-slide {
			padding-top: 140px;
			min-width: 140px;
			height: 0;
			border-radius: 30px 30px 0 0;

			&:not(.swiper-slide-active)::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.7);
				border-radius: 30px 30px 0 0;
				cursor: pointer;
			}

			&::before {
				display: none;
			}

			&.s-slide01 {
				background: url(../images/thumbnail/thumbnail01.png) no-repeat 50% 0%;
				background-size: cover;
			}

			&.s-slide02 {
				background: url(../images/thumbnail/thumbnail02.png) no-repeat 50% 0%;
				background-size: cover;
			}

			&.s-slide03 {
				background: url(../images/thumbnail/thumbnail03.jpg) no-repeat 50% 0%;
				background-size: cover;
			}

			&.s-slide04 {
				background: url(../images/thumbnail/thumbnail04.jpg) no-repeat 50% 0%;
				background-size: cover;
			}

			&.s-slide05 {
				background: url(../images/thumbnail/thumbnail05.png) no-repeat 50% 0%;
				background-size: cover;
			}
		}

		.nextEl {
			position: absolute;
			top: 50%;
			right: -25px;
			width: 50px;
			height: 50px;
			transform: translate(-50%, -50%);
			background: #f1f1f1 url(../images/icon/chevron-right.png) no-repeat 50% 50%;
			opacity: 0.5;
			cursor: pointer;
			z-index: 1;

			&:hover {
				opacity: 0.9;
			}
		}
	}

	.bigSlide {
		margin-top: 40px;
		width: 100%;
		vertical-align: middle;

		.swiper-slide {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;

			.b-slide {
				padding-top: 400px;
				width: 400px;
				height: 0;

				&.b-slidImg01 {
					background: url(../images/thumbnail/thumbnail01.png) no-repeat 50% 50%;
					background-size: contain;
				}

				&.b-slidImg02 {
					background: url(../images/thumbnail/thumbnail02.png) no-repeat 50% 50%;
					background-size: contain;
				}

				&.b-slidImg03 {
					background: url(../images/thumbnail/thumbnail03.jpg) no-repeat 50% 50%;
					background-size: contain;
				}

				&.b-slidImg04 {
					background: url(../images/thumbnail/thumbnail04.jpg) no-repeat 50% 50%;
					background-size: contain;
				}

				&.b-slidImg05 {
					background: url(../images/thumbnail/thumbnail05.png) no-repeat 50% 50%;
					background-size: contain;
				}
			}

			.project-info {
				padding: 22px 30px;
				margin-left: 40px;
				width: 560px;
				background: rgba(0, 0, 0, .5);

				.tit {
					color: #fff;
					font-size: 18px;
					font-weight: 700;
				}

				.info {
					padding-top: 10px;
					color: #fff;
					font-size: 14px;
					font-weight: 700;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}


				.icon-link {
					display: block;
					position: absolute;
					top: 25px;
					right: 30px;
					width: 20px;
					height: 23px;
					background: url(../images/icon/link.png) no-repeat 50% 50%;
					background-size: contain;
					cursor: pointer;
				}
			}
		}
	}

}

.sec-teams {
	height: 80vh;
	background: #fff;

	.tabs {
		font-size: 0;

		.tabs-nav {
			display: inline-block;
			margin: 0;
			padding: 0;
			vertical-align: top;

			li {
				min-width: 240px;
				height: 100px;

				a {
					display: block;
					padding: 40px 30px;
					color: #fff;
					background: #63489a;
					font-size: 14px;
					font-weight: 400;

					&.active {
						background: #f5f2ff;
						color: #63489a;
						font-weight: 500;
					}

					&:hover {
						font-weight: 500;
					}
				}
			}
		}

		.tabs-content {
			display: inline-block;
			width: calc(100% - 240px);
			background: #f5f2ff;
			font-size: 14px;
			vertical-align: top;

			.tab-common {
				display: none;
				padding: 40px 0 30px;
				min-width: 890px;

				ul {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					width: 100%;
				}

				li {
					width: calc(100%/3);
					position: relative;
					padding: 0 50px;

					&:before {
						content: '';
						display: block;
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						height: 100%;
						width: 1px;
						background: #ddd;
					}

					&:last-child {

						&::before {
							display: none;
						}
					}
				}

				&.active {
					display: flex;
					align-items: center;
					justify-content: center;
					min-height: 300px;
				}

				.item {
					text-align: center;

					.item-thumb {
						margin: 0 auto;
						width: 100px;
						height: 100px;
						border-radius: 50%;
						overflow: hidden;

						img {
							display: block;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

					.item-data {
						padding-top: 20px;

						.name {
							font-size: 14px;
							font-weight: 500;
						}

						.gender {
							padding-top: 10px;
							color: #555;
							font-size: 12px;
							font-weight: 300;
						}

						.item-icon {
							display: flex;
							justify-content: space-around;
							margin-top: 23px;
							width: 100%;
							height: 40px;
							font-size: 18px;

							.email, .tel, .city {
								display: flex;
								align-items: center;
								justify-content: center;
								width: 60px;
								height: 100%;

								&:hover {
									box-shadow: 1px 2px 4px #f5f2ff;
								}

								a {
									display: block;
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}

.sec-contactus {
	height: 70vh;

	.contact {
		display: flex;
		align-items: center;

		.contact-vector {
			width: 50%;
		}

		.form {
			display: flex;
			justify-content: space-around;
			width: 50%;

			.inputInner {
				padding-bottom: 30px;
				width: 100%;

				label {
					padding-bottom: 10px;
					display: block;
					font-size: 14px;
					font-weight: 300;
				}

				input {
					padding: 0 15px;
					min-width: 330px;
					height: 48px;
					line-height: 46px;
					font-size: 13px;
					font-weight: 300;
					border: 1px solid #ddd;
				}

				&[type=text]:focus {
					border: 1px solid #63490a;
				}

				textarea {
					padding: 15px;
					min-width: 450px;
					height: 90px;
					font-size: 13px;
					font-weight: 300;
					border: 1px solid #ddd;
					resize: none;
				}
			}

			.send_btn {
				padding-top: 10px;
				text-align: right;

				button {
					display: inline-block;
					min-width: 200px;
					height: 48px;
					line-height: 48px;
					background: #63489a;
					color: #fff;
					font-size: 13px;
					font-weight: 500;
					letter-spacing: 2px;
					text-align: center;
				}
			}
		}
	}
}
