/*태블릿 디바이스 (가로 해상도가 992px 보다 작은 화면에 적용)  */
@media (max-width: 991px) {
  #header {
    height: 80px;

    .title {
      padding: 25px;
    }

    .nav {
      
      .navList {

        a {
          padding: 28px 0;
        }
      }
    }
  }

  .sec {
    align-items: flex-start;
    flex-direction: row;
    padding-top: 40px;
    min-height: 100vh;
    height: 100%;

    .title {
      padding-bottom: 30px;
      font-size: 28px;
      letter-spacing: 5px;
    }
  }

  // main slide
  .sec-slider {
    
    .swiper-slide {
      height: 90vh;

      .slideCont {
        height: 90vh;

        &.sec01 {

          .sec01-left {

            .sec01-img {

              &::before {
                top: 30px;
                left: 30px;
              }
            }

            .sec01-text {
              left: 40%;
              bottom: 10%;
              font-size: 38px;
              line-height: 1.2;
            }
          }

          .sec01-right {

            .sec01-intro {
              font-size: 20px;
            }
          }
        }

        &.sec02 {

          .sec02-left {

            .sect-subtitle {
              font-size: 30px;
              line-height: 1.2;
            }

            .sect-title01 {
              font-size: 80px;
            }
            .sect-title02 {
              font-size: 58px;
            }
          }

          .sec02-right {
            padding-bottom: 40px;

            .sent-intro {
              font-size: 17px;
            }
          }
        }

        &.sec03 {
          font-size: 48px;
        }
      }
    }
  }

  .sec-introduce {
    .tabs {

      .tabs-nav {
        top: -71px;

        li {
          height: 40px;
          line-height: 40px;

          a {
            font-size: 14px;
          }
        }
      }

      .tabs-content {

        .tab-common {
          padding: 22px;

          &.tab01 {

            .myBox {

              .mybox-item {

                .intro-item {
                  
                  .intro-tit {
                    font-size: 14px;
                  }
                }
              }
            }
            
            .mybox-icon {

              .intro-icon {
                flex-direction: column;
                justify-content: flex-start;

                img {
                  width: 40px;
                  height: 40px;
                }

                p {
                  display: block;
                  margin-top: 15px;
                  font-size: 14px;
                  color: #aaa;
                  text-align: center;
                }

                &:hover {
                  color: #333;

                  p {
                    padding: 0;
                    margin-top: 0;
                  }
                }
              }
            }

            .mybox-desc {
              padding-top: 8px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .sec-project {

    .thumbnailImg {

      .swiper-slide {
        height: 80px;
      }

      .nextEl {
        display: none;
      }
    }

    .contentSlide {
      margin-top: 20px;

      .swiper-slide {
        flex-direction: row-reverse;
        
        .b-slide {
          width: 50%;
          height: 450px;
          background-size: cover;
          background-position: 50% 0;
        }

        .project-cont {
          margin-left: 0;
          margin-right: 10px;
          padding: 15px;
				  width: calc(50% - 10px);
          min-height: 450px;

          .project-tit {
            font-size: 20px;
          }

          .project-info-container {
            justify-content: flex-start;
            flex-direction: column;

            .project-info {
              padding-top: 10px;
              font-size: 0;

              &:first-child {
                padding-top: 0;
              }

              .tit, .desc {
                display: inline-block;
              }

              .tit {
                padding-right: 10px;
              }
            }
          }

          .project-info {
            padding-top: 10px;

            .tit {
              font-size: 15px;
            }

            .desc {
              font-size: 15px;
            }
          }

          .buttonInner {
            bottom: 15px;

            & > * {
              font-size: 14px;
            }

            .img-open {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  .sec-teams {

    .tabs {
    
      .tabs-nav {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;

        li {
          margin-right: 12px;
          width: 33.33%;

          a {
            min-width: 100%;
            height: 48px;
            line-height: 48px;
          }
        }
      }

      .tabs-content {
        margin-top: 18px;

        .tab-common {
          min-width: 100%;

          .list-items {
            display: inline-flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 100%;

            li {
              padding: 12px;
              margin-left: 18px;
              width: calc(33.33% - 12px);

              &:nth-child(-n+3) {
                margin-bottom: 18px;
              }
              &:first-child, &:nth-child(4) {
                margin-left: 0;
              }
            }
          }

          .teams-desc {
            margin-bottom: 18px;
            padding: 6px 12px;
            min-width: 100%;
            border-radius: 4px;

            .team-desc-inner {
              padding-right: 20px;
              font-size: 14px;

              .tit {
                font-weight: 400;
              }
              .con {
                font-weight: 600;
              }
            }
          }

          .item {
            padding: 15px 10px;

            .item-thumb {
              width: 70px;
              height: 70px;
            }

            .item-data {
              padding-top: 15px;

              .gender {
                padding-top: 5px;
              }

              .item-icon {
                margin-top: 5px;
              }
            }
          }
        }

      }
    }

    .teams-caution {
      padding-top: 20px;
    }
  }

  .sec-contactus {

    .contact {

      .contact-vector {
        display: none;
      }

      .form {
        display: block;
        width: 100%;

        .inputInner {

          input, textarea {
            width: 100%;
          }
        }

        .send_btn {
          text-align: center;

          button {
            width: 100%;
          }
        }
      }
    }
  }
}

/* 가로모드 모바일 디바이스 (가로 해상도가 768px 보다 작은 화면에 적용)  */
@media (max-width: 767px) {
  .sec {
    padding-top: 80px;

    .title {
      padding-bottom: 20px;
      font-size: 26px;
    }
  }

  .sec-slider {

    .swiper-slide {
      height: 100vh;

      &:nth-child(3) {
        background-position: 70% 0;
      }

      .slideCont {
        height: 100vh;

        &.sec01 {
          flex-direction: column;
          justify-content: space-evenly;

          .sec01-left {

            .sec01-img {

              &::before {
                min-width: 390px;
              }
            }
            
            .sec01-text {
              bottom: 56%;
              left: 68%;
            }
          }

          .sec01-right {
            padding-bottom: 0;

            .sec01-intro {
              font-size: 18px;
            }
          }
        }

        &.sec02 {
          flex-direction: column;
          justify-content: space-around;
          padding-top: 80px;

          .sec02-right {
            padding-top: 40px;
            padding-bottom: 0;
          }
        }

        &.sec03 {
          font-size: 42px;
        }
      }
    }
  }

  .sec-introduce {

    .tabs {

      .tabs-nav {
        top: -64px;
      }

      .tabs-content {
        
        .tab-common {
          padding: 20px;

          &.tab01 {

            .myBox {

              .mybox-item {

                .intro-item {
                  padding-top: 6px;
                }
              }
            }

            .mybox-icon {
              flex-wrap: wrap;

              .intro-icon {
                width: calc(50% - 8px);

                img {
                  width: 40px;
                  height: 40px;
                }
                
                p {
                  font-size: 13px;
                }

                &:nth-child(-n+2) {
                  margin-bottom: 15px;
                }
                
                &:nth-child(2n) {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .sec-project {

    .thumbnailImg {

      .swiper-slide {
        height: 180px;
        background-position: 50% 20%;
      }

      .slide-button {
        display: none;
      }
    }

    .contentSlide {

      .swiper-slide {
        flex-direction: column;

        .b-slide {
          display: none;
        }

        .project-cont {
          padding: 20px;
          margin-right: 0;
          width: 100%;
          min-height: 420px;

          .project-info-container {
            flex-direction: inherit;
            justify-content: space-between;

            .project-info {
              padding-top: 0;

              .tit {
                padding-right: 0;
              }

              .tit, .desc {
                display: block;
              }
              
              &:last-child {
                margin-right: 0;
              }
            }
          }

          .project-info {
            padding-top: 20px;
          }

          .buttonInner {
            bottom: 20px;
          }
        }
      }
    }
  }

  .sec-teams {
    .tabs {

      .tabs-content {
        margin-top: 12px;

        .tab-common {

          .list-items {

            li {
              width: calc(50% - 6px);

              &:nth-child(3) {
                margin-bottom: 0;
                margin-left: 0;
              }

              &:nth-child(-n+2) {
                margin-bottom: 12px;
              }

              &:nth-child(2n) {
                margin-left: 12px;
              }
            }
          }

          .teams-desc {
            margin-bottom: 12px;

            .team-desc-inner {
              font-size: 13px;
            }
          }

          .item {

            .item-data {
              padding-top: 10px;

              .item-icon {
                margin-top: 0;
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .teams-caution {
      padding-top: 12px;
      font-size: 12px;
    }
  }
}

/* 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용) */
@media (max-width: 575px) {
  #header {

    .nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      padding: 120px 0;
      width: 70%;
      height: 100vh;
      background: #fff;
      border-left: 1px solid #ddd;
      transform: translateX(100%);
		  transition: all .25s ease-in;

      &.active {
        transform: translateX(0%);
      }

      .navList {
        padding: 0;
        height: 100px;
        line-height: 100px;
        border-bottom: 1px solid #ddd;

        a {
          padding: 0 23px 0 0;
          color: #555;
          font-size: 18px;
          text-transform: uppercase;
        }
      }
    }

    .mobile-nav {
      display: block;
      float: right;
      padding: 29px;

      span {
        display: block;
        background: #fff;
        width: 24px; 
        height: 2px;
        border-radius: 3px;
        transition: margin .25s .25s, transform .25s; 
        
        &.bar1 {
          margin-bottom: 8px;
        }

        &.bar3 {
          margin-top: 8px;
        }
      }

      &.active span {
        background-color: #555;
        transition: margin .25s, transform 0.25s 0.25s;
        
        &.bar1 {
          margin-top: 10px;
          margin-bottom: -2px;
          transform: rotate(45deg);
        }

        &.bar2 {
          transform: rotate(45deg);
        }

        &.bar3 {
          margin-top: -3px;
          transform: rotate(135deg);
        }
      }
    }

    &[data-header-theme="dark"] {
      .mobile-nav {

        span {
          background-color: #555;
        }
      }
    }

    &.fixed {
      .nav {

        .navList {

          a {
            padding: 0 23px 0 0;
          }
        }
      }

      .mobile-nav {
        padding: 24px 0px;

        span {
          background: #555;
        }
      }
    }
  }

  .sec-slider {

    .swiper-slide {

      .slideCont {
        height: 100vh;

        &.sec01 {

          .sec01-left {

            .sec01-img {

              &::before {
                display: none;
              }
            }

            .sec01-text {
              bottom: 40%;
              left: 70%;
              font-size: 30px;
            }
          }
        }

        &.sec02 {
          padding-top: 60px;

          .sec02-left {

            .sect-subtitle {
              font-size: 24px;
            }
            .sect-title01 {
              font-size: 60px;
            }
            .sect-title02 {
              font-size: 48px;
            }
          }

          .sec02-right {
            padding-top: 0;

            .sent-intro {
              font-size: 13px;
            }
            .sent-text {
              font-size: 15px;
            }
          }
        }

        &.sec03 {
          font-size: 28px;
        }
      }
    }
  }

  .sec-introduce {

    .tabs {

      .tabs-nav {
        top: -60px;
        right: 0;
        left: 0;
      }

      .tabs-content {
        margin: 60px auto 0;

        .tab-common {
          padding: 20px 15px;

          &.tab01 {

            .myBox {

              .myPhoto {
                width: 100px;
                height: 100px;
              }

              .mybox-item {
                display: none;
              }
            }

            .mybox-icon {
              padding-top: 20px;

              .intro-icon {

                p {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }

  .sec-teams {
    
    .tabs {

      .tabs-nav {
        li {
          a {
            span {
              display: none;
            }
          }
        }
      }
    }
  }

  .sec-contactus {

    .contact {

      .form {

        .inputInner {

          input, textarea {
            min-width: 320px;
          }
        }
      }
    }
  }
}