.link-connection {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60px;
  height: 130px;
  border-radius: 50px;
  box-shadow: 0 0 20px #ddd;
  background: #fff;
  z-index: 1;

    li {

      a {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
      }
      .github {
        background-image: url(../images/icon/github-mark.png);
      }
      .velog {
        margin-top: 10px;
        background-image: url(../images/icon/green-favicon.png);
      }
    }
}


/* 가로모드 모바일 디바이스 (가로 해상도가 768px 보다 작은 화면에 적용)  */
@media (max-width: 767px) {
  .link-connection {
    width: 55px;
    height: 110px;

    li {
      a {
        width: 45px;
        height: 45px;
      }
    }
  }
}

/* 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용) */
@media (max-width: 575px) {
  .link-connection {
      bottom: 20px;
      right: 20px;
      width: 45px;
      height: 90px;
    li {

      a {
        width: 35px;
        height: 35px;
      }
    }
  }
}